name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi
#    script:
#      - go build -o vepa
#      - scp -P 4500 -v vepa root@quebasetech.co.ke:/var/www/vepa
#      - ssh root@quebasetech.co.ke -p 4500 'bash -s' < deploy.sh
#        ssh root@54.38.240.79 -p 4500 'bash -s' < deploy.sh

    - name: Build
      run: go build -v .
    - name: Deploy to server
      run: |
        eval $(ssh-agent -s)
        ssh-add <(echo "{{secrets.SSH_PRIVATE_KEY}})
        mkdir -p ~/.ssh
        scp -P 4500 -v vepa root@quebasetech.co.ke:/var/www/vepa
        ssh root@quebasetech.co.ke -p 4500 'bash -s' < deploy.sh
#     - name: Test
#       run: go test -v .
